/*Step 4*/
*{
    box-sizing: border-box;
  }

  /*Step 5*/
  body{
    background-color:#c9d2fc;
  }

  /*Step 7,8,9,10,11,14,15,16*/
  .cat-head{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
  }

  /*Step 13,18
  .box{
    width:200px;
    height:600px;
    background-color:#000;
    position:absolute;
    top:800px;
    left:650px;
  }*/

  /*Step 23,24,25,26,31,32*/
  .cat-left-ear{
    position: absolute;
    top: -26px;
    left: -31px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    transform: rotate(-45deg);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
    z-index:1;
  }

  /*Step 27,28,29,30,33*/
  .cat-right-ear{
    position:absolute;
      top:-26px;
      left:163px;
      transform: rotate(45deg);
      border-top-left-radius:90px;
      border-top-right-radius:10px;
      border-left: 35px solid transparent;
      border-right: 35px solid transparent;
      border-bottom: 70px solid #5e5e5e;
      z-index:1;
  }

  /*Step 34,35,36*/
  .cat-left-inner-ear{
    position: absolute;
    top: 22px;
    left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:40%;
    border-bottom-left-radius:40%;
  }

  /*Step 37,39*/
  .cat-right-inner-ear{
    position: absolute;
    top: 22px;
    left: -20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 40px solid #3b3b4f;
 }

 /*Step 43,44,45*/
 .cat-left-eye{
  position:absolute;
  top:54px;
  left:39px;
  border-radius:60%;
  transform:rotate(25deg);
  width:30px;
  height:40px;
  background-color:#000;
 }

 /*Step 46,47,48*/
 .cat-right-eye{
  position: absolute;
  top: 54px;
  left: 134px;
  border-radius: 60%;
  transform: rotate(-25deg);
  width: 30px;
  height: 40px;
  background-color: #000;
}

/*Step 49,50*/
.cat-left-inner-eye{
  position: absolute;
  top: 8px;
  left: 2px;
  border-radius: 60%;
  transform: rotate(10deg);
  width:10px;
  height:20px;
  background-color:#fff;
}


/*Step 51,52*/
.cat-right-inner-eye{
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(-5deg);
  border-radius: 60%;
  width: 10px;
 height: 20px;
 background-color: #fff;
}

/*Step 54,55*/
.cat-nose{
  position: absolute;
  top: 108px;
  left: 85px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #442c2c;
}